<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.mapper.RareWordGBKMapper">

    <!-- 插入用户信息 -->
    <insert id="saveUserTc" parameterType="com.org.dto.UserDTO">
        INSERT INTO user_tc (id, name, yearold,opcode,creatime,updatetime)
        VALUES (#{id}, #{name}, #{yearold},#{opcode},sysdate,sysdate)
    </insert>

    <!--    sys_guid()-->
</mapper>